@page
@model WebApp.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

    <form method="post">
    <div class="form-group">
        <input type="submit" value="Place new order" class="btn btn-primary" />
    </div>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].OrderTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            
            <td>
                <a asp-page="./Details" asp-route-id="@item.OrderId">View order</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderId">Remove order</a>
            </td>
        </tr>
}
    </tbody>
</table>
